﻿@page
<div>
    <h3>Форма оформления покупки</h3>
    <p>Для оформления покупки заповніть наступні поля:</p>
    <form method="post">
        <input type="hidden" value="@ViewBag.PhoneId" name="PhoneId" />
        <table>
            <tr>
                <td>Им'я:</td>
                <td><input type="text" name="User" /> </td>
            </tr>
            <tr>
                <td>Адреса:</td>
                <td><input type="text" name="Adress" /></td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td><input type="text" name="ContactPhone" /></td>
            </tr>
            <tr><td><input type="submit" value="Відправити" /> </td><td></td></tr>
        </table>
    </form>
</div>