﻿@model IEnumerable<OnlineStoreBasic.Models.Phone>
@{
    ViewData["Title"] = "Phone list";
}

<div>
    <h3>Смартфони</h3>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Модель</th>
                <th scope="col">Виробник</th>
                <th scope="col">Ціна</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phone in Model)
            {
                <tr>
                    <th scope="row">@phone.Name</th>
                    <td>@phone.Company</td>
                    <td>@phone.Price</td>
                    <td><a href="~/Home/Buy/@phone.Id">Купити</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
