﻿@model IEnumerable<OnlineStoreBasic.Models.Order>

<div>
    <h3>Замовлення</h3>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Клієнт</th>
                <th scope="col">Товар Id</th>
                <th scope="col">Адреса</th>
                <th scope="col">Контактний телефон</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
            <tr>
                <th scope="row">@order.OrderId</th>
                <td>@order.User</td>
                <td>@order.PhoneId</td>
                <td>@order.Adress</td>
                <td>@order.ContactPhone</td>
            </tr>
            }
        </tbody>
    </table>
</div>